<!DOCTYPE HTML>
{% load static %}
<html lang="en">
<head>
	<title>Have a bite on us!</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<!-- Font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">


	<!-- Stylesheets -->

	<link href="{% static 'common-css/bootstrap.css' %}" rel="stylesheet">

	<link href="{% static 'common-css/ionicons.css' %}" rel="stylesheet">


	<link href="{% static 'layout-1/css/styles.css' %}" rel="stylesheet">

	<link href="{% static 'layout-1/css/responsive.css' %}" rel="stylesheet">

</head>
<body >

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="#" class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="#">Home</a></li>
				<li><a href="stats.html">Food Stats</a></li>
				<li><a href="upload.html">Donate Food</a></li>
				<li><a href="feed.html">Snapshot of Weekly Inventory</a></li>
			</ul><!-- main-menu -->

		</div><!-- conatiner -->
	</header>

	<img src="{% static 'images/applepie.jpg' %}">
	<section class="blog-area section">
		<h3 class="title" style="text-align: center;">{{food_pickup_info}}</h3>
		{% if not food_list and not food_pickup_info %}
		<h3 class="title" style="text-align: center;">No food available at this time.</h3>
		{% elif food_list %}
		<div class="container">

			<div class="row">
				{% for food in food_list %}
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-4">

							<div class="display-table">
								<h3 class="title"><a href="#"><b>{{food.name}}</b></a></h4>
									<p class="para">{{food.amount}} of {{food.name}}, they expire on {{food.expiration}}</p>
							</div>
							<ul class="post-footer">
								<li><form method = "post"><input type="submit" name="{{food.key}}" value="Pick Up"/></form></li>
							</ul>
						</div><!-- single-post -->

					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
				{% endfor %}
			</div><!-- row -->
		</div><!-- container -->



			{% endif %}
	</section><!-- section -->


	<footer>

		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="footer-section">

						<a class="logo" href="#"><img src="{% static 'images/logo.png' %}" alt="Logo Image"></a>
						<p class="copyright">Bona @ 2019. All rights reserved.</p>
						<p class="copyright">Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
						<ul class="icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul>

					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
						<div class="footer-section">
						<h4>By avsethur and mcli for TartanHacks 2k19</h4>
					</div><!-- footer-section -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->
		</div><!-- container -->
	</footer>


	<!-- SCIPTS -->

	<script src="{% static 'common-js/jquery-3.1.1.min.js' %}"></script>

	<script src="{% static 'common-js/tether.min.js' %}"></script>

	<script src="{% static 'common-js/bootstrap.js' %}"></script>

	<script src="{% static 'common-js/scripts.js' %}"></script>

</body>
</html>
